.time {
    color: #ffffff36;
}

.ref-sec-hero {
    height: 90dvh;
}

.ref-sec-hero .swiper {
    width: 100%;
    height: 100%;
}

.ref-sec-hero .swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ref-sec-hero .swiper-slide img {
    max-width: 100%;
}

.ref-sec-hero .swiper-slide:nth-child(odd) {
    background: var(--primary);
    color: var(--white);
}

.ref-sec-hero .swiper-slide:nth-child(even) {
    background: var(--white);
    color: var(--primary);
}

.ref-sec-two-wrappper {
    padding: 10rem 0;
}

.ref-sec-two-txt-wrapper {
    padding-bottom: 3rem;
}

.ref-sec-two-wrappper .sec-three-slide-wrapper {
    height: 799px !important;
    max-width: 535px !important;
}

.ref-sec-two-wrappper .sec-three-slide-footer {
    height: 100% !important;
}

.ref-sec-two-wrappper .sl-1 {
    background-image: url("./img/p1.png") !important;
}

.ref-sec-two-wrappper .sl-2 {
    background-image: url("./img/p2.png") !important;
}

.ref-sec-two-wrappper .sl-3 {
    background-image: url("./img/p3.png") !important;
}

.ref-sec-two-wrappper .sl-4 {
    background-image: url("./img/p4.png") !important;
}

.ref-sec-two-wrappper .sl-5 {
    background-image: url("./img/p5.png") !important;
}

.ref-sec-two-wrappper .sl-6 {
    background-image: url("./img/p6.png") !important;
}

.ref-table {
    width: 100%;
}

.ref-body::-webkit-scrollbar {
    width: 12px;
}

.ref-body::-webkit-scrollbar-track {
    background: var(--offWhite);
}

.ref-body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 6px;
    cursor: grab;
}

.ref-thead {
    height: 79px;
    background: var(--offWhite);
    color: #84818A;
}

.ref-thead tr {
    display: table;
    width: 100%;
}

.ref-thead th,
.ref-body td {
    padding: 1.5rem;
}

.ref-body {
    display: block;
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
}

.ref-body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    color: var(--primary);
}

.last {
    background: #F4F7F7;
    border-radius: 60px;
    text-align: center;
}


@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1620px !important;
    }
}