.kar-sec-hero {
  background: var(--primarty);
  background: linear-gradient(180deg,
      #193d38 0.00%,
      #163632 100.00%);
  height: 888px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kar-sec-hero * {
  color: var(--white);
}

.karriereinsight h1 {
  color: #ffffff;
  font-weight: 600;
}

.kar-hero-mail-wrapper a {
  color: var(--secondary);
  font-size: 22px;
}

.kar-hero-img-wrapper img {
  max-width: 100%;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1620px !important;
  }
}