#karriere h1 {
  text-align: center;
  background: yellow;
  color: #000;
  padding: 5rem 0;
}

.section-two {
  padding-top: 5rem !important;
}

.karriere-three {
  padding: 0 3rem;
}

.karriere-three p {
  color: #000;
}

h4 {
  padding: 1.5rem;
}
