.hero-wrapper {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.hero-video {
    width: 100%;
}

.hero-txt {
    position: absolute;
    padding: calc(1vw + 1rem) calc(1vw + 1rem);
    background: transparent;
    backdrop-filter: blur(20px);
    opacity: 0.96;
    color: var(--white);
    top: 20%;
    left: 10%;
}

.hero-txt h1,
.hero-txt p {
    text-align: left !important;
    color: var(--white);
}

.btn-nivoma-yellow {
    padding: 0 1rem;
    height: 58px;
    border: 1px solid var(--secondary);
    box-shadow: 0px 3px 6px var(--black);
    background: var(--secondary);
    color: var(--black);
    border-radius: 2rem;
}

.btn-outline-nivoma {
    padding: 0 1rem;
    height: 58px;
    flex-shrink: 0;
    box-shadow: 0px 3px 6px var(--black);
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 2rem;
    transition: all ease .5s;
}

.btn-outline-nivoma:hover {
    border: 1px solid var(--primary);
    box-shadow: none;
}

.sec-two-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-two-img-wrapper img {
    width: 100%;
}

.sec-two-txt-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.section-two {
    padding: 1.5rem;
}

.section-two h2,
.section-two li,
.section-two p {
    color: var(--black);
}

.section-two li {
    margin: 1rem 0;
}

.section-five {
    background: var(--primary);
}

.divider {
    width: 106px;
    height: 4px;
    background: var(--white);
}

.sec-five-txt-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    color: var(--white);
    margin: auto;
    height: 100%;
}

.sec-five-bg-img {
    width: clamp(5rem, -1.8423rem + 11.036vw, 11.125rem);
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 1rem;
}

.sec-five-img-wrapper {
    background-image: url("../Home/img/review-girl.jpg");
    height: 991px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec-five-box-wrapper {
    background: var(--white);
    border-radius: 10px;
    padding: 1rem;
    height: 220px;
}

.mySwiperReviews {
    background: linear-gradient(180deg, rgba(25, 61, 56, 0.00) 0%, #193D38 100%);
    padding: 2rem 0rem !important;
}

.sec-five-box-wrapper p {
    color: var(--black);
}

.btn-outline {

    padding: 0 1rem;
    height: 58px;
    flex-shrink: 0;
    box-shadow: 0px 3px 6px var(--black);
    color: var(--primary);
    background: var(--offWhite);
    border-radius: 2rem;
    transition: all ease .5s;
    border: 1px solid var(--offWhite);
}

.sec-three-img-wrapper {
    padding: 1rem;
}

.sl-1 {
    background-image: url("../Home/img/slide1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sl-2 {
    background-image: url("../Home/img/slide2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* .mySwiperSecThree {
    padding: 0 calc(10vw + 1rem) !important;
} */

.one {
    background-image: url("../Home/img/prof2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.two {
    background-image: url("../Home/img/prof1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sec-six-tes-wrapper {
    background: rgba(237, 237, 237, 0.37);
    height: 618px;
    display: flex;
    align-items: flex-end;
}

.sec-six-tes-footer {
    background: var(--offWhite);
    width: 100%;
    padding: 1rem;
    text-align: center;
}
@media (max-width: 1300.98px) {
    .hero-wrapper {
        height: 100%;
    }

}

@media (max-width: 992.98px) {

    .hero-txt {
        top: 0;
        left: 0;
        backdrop-filter: blur(2px);
    }

    .hero-txt p {
        margin-bottom: 0;
    }

    .btn-nivoma-yellow {
        padding: .7rem;
        font-size: 8px;
        height: fit-content;
    }

    .btn-outline-nivoma {
        padding: .7rem;
        font-size: 8px;
        height: fit-content;
    }

    .sec-five-img-wrapper {
        height: 591px;
    }
}