
.bg-custom {
    background-color: #193D38;
  }
  
  ul {
    color: white !important;
  }

  ul a{
    color: white !important;
  }

  h5 {
    color: yellow;
    font-family: 'Just Sans', sans-serif;
    font-weight: 400; /* Semi-bold */
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: black;
  }
  
  .logo-image {
    width: 150px; 
    height: auto;
  }
  
  
  