.connector-wrapper {
    padding: 5rem 0;
}

.con-txt-wrapper {
    margin: 5rem 0;
}

.con-icon-wrapper {
    display: inline-block;
    padding: 2rem;
    background: var(--offWhite);
}

.conn-sec-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conn-sec-wrapper h2{
    color: var(--primary);
}