:root {
    --white: #fff;
    --offWhite: #F7F7F7;
    --black: #4A5469;
    --primary: #1A3E39;
    --secondary: #FFFF34;
}

@font-face {
    font-family: Nivoma Regular;
    src: url("../src/components/assets/fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: Nivoma Bold;
    src: url("../src/components/assets/fonts/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
    font-family: Nivoma Sans Regular;
    src: url("../src/components/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Nivoma Just Regular;
    src: url("../src/components/assets/fonts/Just_Sans/JUST-Sans-Regular.otf");
}

h2,
h1 {
    font-family: "Nivoma Regular", sans-serif;
    font-size: clamp(1.5rem, -0.9023rem + 8.0078vw, 4.0625rem);
}

h3 {
    font-family: "Nivoma Regular", sans-serif;
    font-size: clamp(1.5rem, -0.9023rem + 8.0078vw, 4.0625rem);
}

p {
    font-family: "Nivoma Just Regular", sans-serif;
    font-size: clamp(1rem, 0.5rem + 1.6667vw, 1.4375rem);
}

li {
    font-family: "Nivoma Just Regular", sans-serif;
}

strong {
    font-family: Nivoma Bold;
}

button {
    font-family: Nivoma Just Regular;
    font-weight: 400;
}