.section-four p {
    color: var(--white);
    text-align: left;
}

.sec-four-box-wrapper {
    overflow: hidden;
    position: relative;
    color: var(--white);
    width: 100%;
    height: 331px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sec-four-box-wrapper {
    background: var(--primary);
    background: linear-gradient(180deg, #193D38 0%, #173732 100%);
}

.sec-four-box-wrapper h2,
.sec-four-box-wrapper p {
    text-align: center;
    color: var(--white);
}

.odd h2,
.odd p {
    text-align: center;
    color: var(--primary);
}

.odd {
    background: var(--secondary) !important;
}

.box-font {
    font-size: clamp(3.25rem, -0.1875rem + 11vw, 6rem);
    font-weight: 700;
}

@media (max-width: 992.98px) {

    .section-four {
        padding: 1rem;
    }
}