main.impressum *{
    color: var(--black);
}

.impressum-hero-banner {
    padding: 8rem;
    background: var(--primary);
    columns: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.impressum-hero-banner h1{
    color: var(--white);
}

.impressum p {
    padding: 1rem;
}